<div id="proyectos" class="mt-5 container">
    <div class="d-grid align-items-center rounded bg-gradient p-3">
        <div>
            <h3 class="text-white m-0 p-0">Proyectos</h3>
            <br>
            <hr class="mt-2 mb-3 bg-white"/>
            <div class="container">
                <h5 class="text-white">Proyect Name</h5>
                <p class="text-white">
                    <small> Aplicación Web E-Commerce (En desarrollo). </small>
                </p>
            </div>
            <div class="text-center">
                <a href="#">
                    <img src="../../../assets/img/proyecto.png" alt="proyecto" class="img-thumbnail">
                </a>
            </div>
            <br>
            <hr class="mt-2 mb-3 bg-white"/>
            <div class="container">
                <h5 class="text-white">Proyect Name</h5>
                <p class="text-white">
                    <small> Pagina Web en Desarrollo</small>
                </p>
            </div>
            <div class="text-center">
                <a href="#">
                    <img src="../../../assets/img/proyecto.png" alt="proyecto" class="img-thumbnail">
                </a>
            </div>
            <br>
            <hr class="mt-2 mb-3 bg-white"/>
            <div class="container">
                <h5 class="text-white">Proyect Name</h5>
                <p class="text-white ">
                    <small> Pagina Web en Desarrollo</small>
                </p>
            </div>
            <br>
            <div class="text-center">
                <a href="#">
                    <img src="../../../assets/img/proyecto.png" alt="proyecto" class="img-thumbnail">
                </a>
            </div>
        </div>
    </div>
</div>
