<div id="educacion" class="mt-5 container">
    <div class="d-grid align-items-center rounded bg-gradient p-3">
        <div>
            <h3 class="text-white m-0 p-0">Educación</h3>
            <br>
            <div class="row">
                <div class="col-sm-2 col-md-2 col-lg-2 mb-3">
                    <img src="../../../assets/img/logos_coderhouse.png" alt="coderhouse" class="img-thumbnail" style="width: 100px;">
                </div>
                <div class="col-sm-10 col-md-10 col-lg-10">
                    <h5 class="text-white m-0 p-0">Coder House</h5>
                    <br>
                    <p class="text-white m-0 p-0">Desarrollador Web <br>
                        <i class="text-muted">10/2022 - 11/2022.</i>
                        <br>
                    </p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-2 col-md-2 col-lg-2 mb-3">
                    <img src="../../../assets/img/arg-programa.png" alt="argentina programa" class="img-thumbnail" style="width: 100px;">
                </div>
                <div class="col-sm-10 col-md-10 col-lg-10">
                    <h5 class="text-white m-0 p-0">Argentina Programa</h5>
                    <br>
                    <p class="text-white m-0 p-0"> Curso #SéProgramar <br>
                        <i class="text-muted">06/2022 - 06/2022</i>
                        <br>
                        <b>Promoción 2022</b>
                    </p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-2 mb-3">
                    <img src="../../../assets/img/Udemy_logo.svg.png" alt="Udemy" class="img-thumbnail" style="width: 100px;">
                </div>
                <div class="col-10">
                    <h5 class="text-white m-0 p-0">Udemy</h5>
                    <br>
                    <p class="text-white m-0 p-0">Curso Desarrollo Web Completo<br>
                        <i class="text-muted">Actualidad.</i>
                        <br>
                    </p>
                </div>
                <a name="hard"></a>
            </div>
        </div>
    </div>
</div>
