<nav class="navbar fixed-top shadow">
    <div class="container-fluid">
        <div class="d-flex gap-3 align-items-center me-3" style="width:min-content">
            <a href="index.html"><img src="../../../assets/img/arg-programa.png" alt="argentinaPrograma" height="40" class=" rounded">
            </a>
            <div class="text-black">
                <a href="index.html">Argentina Programa</a>
            </div>
        </div>
      <button class=" nv-bg" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span>
            <img src="../../../assets/img/icons8-menu-rounded-50.png" alt="menu hambuguesa">
        </span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header canva-bg">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menú</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body canva-bg">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link m-item" aria-current="page" href="#acercade">Acerca De</a>
            </li>
            <li class="nav-item">
              <a class="nav-link m-item" href="#exp">Experiencia</a>
            </li>
            <li class="nav-item">
              <a class="nav-link m-item" href="#educacion">Educación</a>
            </li>
            <li class="nav-item">
              <a class="nav-link m-item" href="#skills">Hard & Soft Skill</a>
            </li>
            <li class="nav-item">
                <a class="nav-link m-item" href="#proyectos">Proyectos</a>
            </li>
            <!-- Button trigger modal -->
            <button type="button" class="btn shadow bg-nv" data-bs-toggle="modal" data-bs-target="#loginModal">
                <a routerLink="/login">Iniciar Sesion</a>
            </button>
          </ul>
        </div>
      </div>
    </div>
  </nav>