<div id="exp" class="mt-5 container">
    <div class="d-grid align-items-center rounded bg-gradient p-5">
            <h3 class="text-white m-0 p-0">Experiencia</h3>
            <br>
            <div class="row">
                <div class="col-md-2 mb-5">
                    <img src="../../../assets/img/bienesraices.jpg" alt="bienes raices" class="img-thumbnail bienes-raices">
                </div>
                <div class="col-md-10">
                    <h5 class="text-white m-0 p-0">Bienes Raices</h5>
                    <br>
                    <p class="text-white m-0 p-0">Estoy Llevando a cabo el relevamiento, modelado de datos, modelo ambiental y de comportamiento y diseñando la interfaz <br>
                        <i class="text-muted"> Actualidad</i>
                    </p>
                </div>
                <a name="educacion"></a>
            </div>
    </div>
</div>
