<!-- <router-outlet></router-outlet> -->

<app-header></app-header>
<app-banner></app-banner>
<body class="bg-info">
    <div class=" p-3 container p-3">
        <div class="d-flex flex-column container justify-content-center">
            <app-acerca-de></app-acerca-de>
            <app-experiencia></app-experiencia>
            <app-educacion></app-educacion>
            <app-hys></app-hys>
            <app-portfolio></app-portfolio>
            <app-footer></app-footer> 
        </div>
    </div>
</body>

