<body class="body-login">
        <nav class="navbar shadow">
            <div class="container-fluid">
                <div class="d-flex gap-3 align-items-center me-3" style="width:min-content">
                    <a href="../../app.component.html"><img src="../../../assets/img/arg-programa.png" alt="argentinaPrograma" height="40" class=" rounded">
                    </a>
                    <div class="text-black">
                        Argentina Programa
                    </div>
                </div>
            </div>
        </nav> 
    
    <!-- Modal -->
    <section class="login">
    <div class="container text-center">
        <div class="row">
          <div class="col-2">
          </div>
          <div id="modal-content" class="col-8 modal-content">
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <h2 class="text-black modal-text">Login.</h2>
                      <label for="exampleInputEmail1" class="form-label">Email</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                      <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                  </form>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-secondary my-3 m-2">
                        <a href="#">Ingresar</a>
                    </button>
                    <button type="button" class="btn btn-primary m-1">
                        <a routerLink="/index">Salir</a>
                    </button>
                  </div>
                  <small>Si no tienes una cuenta, <a routerLink="/registro">registrate</a> aqui</small>
              </div>
          </div>
          <div class="col-2">
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
      <footer class="footer-login shadow">
        <p class="text-center p-4 text-black">Todos los derechos Reservados 2022 &copy;</p>
      </footer>
