/* =====================
  General Styles
===================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Unica One', cursive;
    font-size: 1rem;
    line-height: 1.5;
    list-style: none;
    
  }
  
  h1 {
    font-size: 3rem;
  }
  
  h2 {
    font-size: 2.3rem;
    margin: 0;
  }
  
  h3 {
    font-size: 1.8rem;
  }
  
  h4 {
    font-size: 1.1rem;
    letter-spacing: 1px;
    line-height: 1.5;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  
  p {
    color: #000;
    margin: 0;
    padding: 0;
  }
  
  small {
    line-height: 1;
  }
  
  .m-item {
    color: #000;
    list-style: none;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
  }
  
  a {
    color: #000;
    list-style: none;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out,
                color 0.2s ease-in-out;
  }
  
  a:focus,
  a:hover {
    color: #000;
  }
  
  hr {
    border-color: #000000;
    margin: 80px 0 60px;
  }
  
  /* =====================
    Footer
  ===================== */
  
  .footer {
    background-color: var(--terciario);
    background-size: cover;
    height: 100%;
    margin: 0;
    min-height: 50px;
    position: relative;
    width: 100%;
  }
  
  /* =====================
    Botones
  ===================== */
  .td-btn {
    padding: 12px 36px;
    text-transform: uppercase;
    transition: background-color 0.2s ease-in-out;
  }
  .td-btn + .td-btn {
    margin-left: 6px;
  }
  .td-btn.small {
    font-family: 'Work Sans', helvetica, sans-serif;
    font-size: 0.7rem;
    padding: 9px 7px 8px;
  }
  
  .outline.green {
    border-color: #29a598;
    color: #29a598;
  }
  .outline.green:focus,
  .outline.green:hover {
    background-color: #29a598;
    color: #fffefd;
  }
  .outline.white {
    border-color: #fffefd;
    color: #fffefd;
  }
  